name: TheNitishk

on:
  push:
    branches: [ main ]

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run demo
        run: echo "Hello Nitish! GitHub Actions is working "
